{
  "openapi" : "3.0.1",
  "info" : {
    "contact" : {
      "email" : "developer@rhombussystems.com"
    },
    "description" : "This API is for use by Rhombus developers.",
    "title" : "Rhombus ITG API",
    "version" : "1.0"
  },
  "servers" : [ {
    "description" : "Development Server",
    "url" : "https://api2.itg.rhombussystems.com"
  } ],
  "security" : [ {
    "ApiKeyAuth" : [ ]
  } ],
  "tags" : [ {
    "description" : "Service for managing access control systems",
    "name" : "Access Control Webservice"
  }, {
    "description" : "Service for managing door schedule exceptions",
    "name" : "Door Schedule Exception Webservice"
  }, {
    "description" : "Service for monitoring alerts, creating threat cases and alarms",
    "name" : "Alert Monitoring Webservice"
  }, {
    "description" : "Service for managing audio gateways",
    "name" : "AudioGateway Webservice"
  }, {
    "description" : "Service for managing uploaded audio clips and playback",
    "name" : "Audio Playback Webservice"
  }, {
    "description" : "Interacting with Bluetooth Channel",
    "name" : "BLE Webservice"
  }, {
    "description" : "Service for managing button sensors",
    "name" : "Button Webservice"
  }, {
    "description" : "Interacting with cameras",
    "name" : "Camera Webservice"
  }, {
    "description" : "Service for managing environmental sensors",
    "name" : "Climate Webservice"
  }, {
    "description" : "Service for managing components used by various devices",
    "name" : "Component Webservice"
  }, {
    "description" : "Managing account-wide information",
    "name" : "Customer Webservice"
  }, {
    "description" : "Service for external Developers",
    "name" : "Developer Webservice"
  }, {
    "description" : "Service for managing door sensors",
    "name" : "Door Webservice"
  }, {
    "description" : "Interacting with doorbell cameras",
    "name" : "Doorbell Camera Webservice"
  }, {
    "description" : "Interacting with door controllers",
    "name" : "Door Controller Webservice"
  }, {
    "description" : "Service for managing Ethernet Testers",
    "name" : "Ethernet Tester Webservice"
  }, {
    "description" : "Service for managing camera-generated events and alerts",
    "name" : "Event Webservice"
  }, {
    "description" : "Service for exporting CSV reports",
    "name" : "Export Webservice"
  }, {
    "description" : "Service for managing face recognition.",
    "name" : "Face Webservice"
  }, {
    "description" : "Service for managing device features",
    "name" : "Feature Webservice"
  }, {
    "description" : "Service for customers to get help",
    "name" : "Help Webservice"
  }, {
    "description" : "Service for updating guests by external form",
    "name" : "GuestToken Webservice"
  }, {
    "description" : "Service for managing third-party integrations.",
    "name" : "Integrations Webservice"
  }, {
    "description" : "Service for managing invoices",
    "name" : "Invoice Webservice"
  }, {
    "description" : "Service for managing add-on software licenses.",
    "name" : "License Webservice"
  }, {
    "description" : "Service for managing locations",
    "name" : "Location Webservice"
  }, {
    "description" : "Service for lookup shipping information",
    "name" : "Logistics Webservice"
  }, {
    "description" : "Service for managing account metrics",
    "name" : "Metric Webservice"
  }, {
    "description" : "Mobile session related stuff",
    "name" : "Mobile Webservice"
  }, {
    "description" : "Service for managing occupancy sensors",
    "name" : "Occupancy Webservice"
  }, {
    "description" : "Service for managing organization-wide settings",
    "name" : "Org Webservice"
  }, {
    "description" : "Service for Partners to manage their clients",
    "name" : "Partner Webservice"
  }, {
    "description" : "Service for resetting user passwords",
    "name" : "Password Webservice"
  }, {
    "description" : "Service for manaing user roles and permissions",
    "name" : "Permission Webservice"
  }, {
    "description" : "Service for managing camera notification policies",
    "name" : "Policy Webservice"
  }, {
    "description" : "Service for managing proximity tags",
    "name" : "Proximity Webservice"
  }, {
    "description" : "Service for viewing aggregated reports",
    "name" : "Report Webservice"
  }, {
    "description" : "Service for managing rules",
    "name" : "Rules Webservice"
  }, {
    "description" : "Service for managing historical rules event records",
    "name" : "Rules Records Webservice"
  }, {
    "description" : "Service for managing schedules",
    "name" : "Schedule Webservice"
  }, {
    "description" : "Service for searching indexed video content",
    "name" : "Search Webservice"
  }, {
    "description" : "Service for managing sensor metadata",
    "name" : "Sensor Webservice"
  }, {
    "description" : "Service for managing externally shared content",
    "name" : "Share Webservice"
  }, {
    "description" : "Service for Customers to manage their various Support Providers and Partners",
    "name" : "Support Authority Webservice"
  }, {
    "description" : "Service for managing tvOs clients",
    "name" : "TvOs Config Webservice"
  }, {
    "description" : "Service for uploading multi-part data",
    "name" : "Upload Webservice"
  }, {
    "description" : "Service for importing users",
    "name" : "User Import Webservice"
  }, {
    "description" : "Service for managing individual users",
    "name" : "User Webservice"
  }, {
    "description" : "Service for managing vehicle recognition.",
    "name" : "Vehicle Webservice"
  }, {
    "description" : "Service for post-processing video",
    "name" : "Video Webservice"
  } ],
  "paths" : {
    "/api/accesscontrol/addUsersToAccessControlGroup" : {
      "post" : {
        "description" : "Adds specified users to an access control group",
        "operationId" : "addUsersToAccessControlGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_group_AddUsersToAccessControlGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_group_AddUsersToAccessControlGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/assignAccessControlCredential" : {
      "post" : {
        "description" : "Assign a currently unassigned credential to a user",
        "operationId" : "assignAccessControlCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_AssignAccessControlCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_AssignAccessControlCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createAccessControlGroup" : {
      "post" : {
        "description" : "Creates an access control group",
        "operationId" : "createAccessControlGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateAccessControlGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateAccessControlGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createAccessGrant" : {
      "post" : {
        "description" : "Create a location access grant",
        "operationId" : "createAccessGrant",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_CreateAccessGrantWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_CreateAccessGrantWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createAccessRevocation" : {
      "post" : {
        "description" : "Create a location access revocation",
        "operationId" : "createAccessRevocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_CreateAccessRevocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_CreateAccessRevocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createAppleWalletPass" : {
      "post" : {
        "description" : "Get credentials to generate Apple Wallet pass for user",
        "operationId" : "createAppleWalletPass",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateAppleWalletPassWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/vnd.apple.pkpass" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateAppleWalletPassWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createRhombusSecureCsnCredential" : {
      "post" : {
        "description" : "Create a rhombus secure csn credential (Rhombus Badge)",
        "operationId" : "createRhombusSecureCsnCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateRhombusSecureCsnCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateRhombusSecureCsnCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createStandardCsnCredential" : {
      "post" : {
        "description" : "Create a standard csn credential (Third Party Badge)",
        "operationId" : "createStandardCsnCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateStandardCsnCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateStandardCsnCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createWiegandCredential" : {
      "post" : {
        "description" : "Create a wiegand credential",
        "operationId" : "createWiegandCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegandCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegandCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/deleteAccessControlCredential" : {
      "post" : {
        "description" : "Delete an access control credential. It is recommended to revoke a credential rather than delete it to preserve credential history",
        "operationId" : "deleteAccessControlCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_DeleteAccessControlCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_DeleteAccessControlCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/deleteAccessControlGroup" : {
      "post" : {
        "description" : "Delete an access control group",
        "operationId" : "deleteAccessControlGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_group_DeleteAccessControlGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_group_DeleteAccessControlGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/deleteLocationAccessGrant" : {
      "post" : {
        "description" : "Deletes a location access grant",
        "operationId" : "deleteLocationAccessGrant",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_DeleteLocationAccessGrantWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_DeleteLocationAccessGrantWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/deleteLocationAccessRevocation" : {
      "post" : {
        "description" : "Deletes a location access revocation",
        "operationId" : "deleteLocationAccessRevocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_DeleteLocationAccessRevocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_DeleteLocationAccessRevocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/deleteUnassignedAccessControlCredential" : {
      "post" : {
        "description" : "Delete an unassigned access control credential. The credential must be unassigned (revoked) before this method can be called. History of the credential is maintained but it will no longer be returned as an unassigned credential.",
        "operationId" : "deleteUnassignedAccessControlCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_DeleteUnassignedAccessControlCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_DeleteUnassignedAccessControlCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/createException" : {
      "post" : {
        "description" : "Create door schedule exception",
        "operationId" : "createException",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_CreateDoorScheduleExceptionWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_CreateDoorScheduleExceptionWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/deleteException" : {
      "post" : {
        "description" : "Delete door schedule exception",
        "operationId" : "deleteException",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_DeleteDoorScheduleExceptionWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_DeleteDoorScheduleExceptionWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/findExceptions" : {
      "post" : {
        "description" : "Find door schedule exceptions",
        "operationId" : "findExceptions",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/findExceptionsForDoor" : {
      "post" : {
        "description" : "Find door schedule exceptions for a specific door",
        "operationId" : "findExceptionsForDoor",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsForDoorWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsForDoorWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/findExceptionsForLocation" : {
      "post" : {
        "description" : "Find door schedule exceptions for a specific location",
        "operationId" : "findExceptionsForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/getException" : {
      "post" : {
        "description" : "Get door schedule exception",
        "operationId" : "getException",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_GetDoorScheduleExceptionWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_GetDoorScheduleExceptionWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/updateException" : {
      "post" : {
        "description" : "Update door schedule exception",
        "operationId" : "updateException",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_UpdateDoorScheduleExceptionWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_UpdateDoorScheduleExceptionWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlCredentialByOrg" : {
      "post" : {
        "description" : "Find all access control credentials in the org",
        "operationId" : "findAccessControlCredentialByOrg",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByOrgWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByOrgWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlCredentialByUser" : {
      "post" : {
        "description" : "Find all access control credentials for the specified user",
        "operationId" : "findAccessControlCredentialByUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlCredentialByUsers" : {
      "post" : {
        "description" : "Find all access control credentials for the specified users",
        "operationId" : "findAccessControlCredentialByUsers",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUsersWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUsersWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupByExactName" : {
      "post" : {
        "description" : "Retrieve the access control group with the specified name",
        "operationId" : "findAccessControlGroupByExactName",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupsByExactNameWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupsByExactNameWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupMembershipsByUser" : {
      "post" : {
        "description" : "Find all access control group memberships by user",
        "operationId" : "findAccessControlGroupMembershipsByUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupMembershipsByUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupMembershipsByUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupMembershipsForCurrentUser" : {
      "post" : {
        "description" : "Find all access control group memberships for the current Rhombus Key user",
        "operationId" : "findAccessControlGroupMembershipsForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupMembershipsForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupMembershipsForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupsByNamePrefix" : {
      "post" : {
        "description" : "Retrieve all access control groups with a name starting with the specified prefix",
        "operationId" : "findAccessControlGroupsByNamePrefix",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupsByNamePrefixWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupsByNamePrefixWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupsByOrg" : {
      "post" : {
        "description" : "Retrieve all access control groups defined in the org",
        "operationId" : "findAccessControlGroupsByOrg",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupsByOrgWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupsByOrgWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupsByUserMembership" : {
      "post" : {
        "description" : "Find all access control groups a user belongs to",
        "operationId" : "findAccessControlGroupsByUserMembership",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupsByUserMembershipWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_group_FindAccessControlGroupsByUserMembershipWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAllUsersForAccessControlGroup" : {
      "post" : {
        "description" : "Find all users belonging to an access control group",
        "operationId" : "findAllUsersForAccessControlGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_group_FindAllUsersForAccessControlGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_group_FindAllUsersForAccessControlGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findCredentialHistoryByCredentialHexValue" : {
      "post" : {
        "description" : "Retrieves all credentials that have owned the credential hex value. Expect at most 1 valid/active credential and the rest are revoked",
        "operationId" : "findCredentialHistoryByCredentialHexValue",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialHexValueWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialHexValueWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findCredentialHistoryByCredentialValue" : {
      "post" : {
        "description" : "Retrieves all credentials that have owned the credential value.",
        "operationId" : "findCredentialHistoryByCredentialValue",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialValueWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialValueWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findCredentialHistoryByUser" : {
      "post" : {
        "description" : "Retrieves all credentials both current and revoked that were at some point assigned to the specified user",
        "operationId" : "findCredentialHistoryByUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByAccessControlledDoor" : {
      "post" : {
        "description" : "Finds location access grants by the specified access controlled door",
        "operationId" : "findLocationAccessGrantsByAccessControlledDoor",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByAccessControlledDoorWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByAccessControlledDoorWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByDoorLabel" : {
      "post" : {
        "description" : "Finds location access grants by the specified door label",
        "operationId" : "findLocationAccessGrantsByDoorLabel",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByDoorLabelWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByDoorLabelWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByGroup" : {
      "post" : {
        "description" : "Finds location access grants by the specified group",
        "operationId" : "findLocationAccessGrantsByGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByLocation" : {
      "post" : {
        "description" : "Finds location access grants by the specified location",
        "operationId" : "findLocationAccessGrantsByLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByLocationAndUser" : {
      "post" : {
        "description" : "Finds location access grants by the specified location and user",
        "operationId" : "findLocationAccessGrantsByLocationAndUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationAndUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationAndUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByOrg" : {
      "post" : {
        "description" : "Finds all location access grants in the org",
        "operationId" : "findLocationAccessGrantsByOrg",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByOrgWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByOrgWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByUser" : {
      "post" : {
        "description" : "Finds location access grants by the specified user",
        "operationId" : "findLocationAccessGrantsByUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessRevocationsByAccessControlledDoor" : {
      "post" : {
        "description" : "Finds location access revocations by the specified access controlled door",
        "operationId" : "findLocationAccessRevocationsByAccessControlledDoor",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByAccessControlledDoorWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByAccessControlledDoorWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessRevocationsByDoorLabel" : {
      "post" : {
        "description" : "Finds location access revocation by the specified door label",
        "operationId" : "findLocationAccessRevocationsByDoorLabel",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByDoorLabelWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByDoorLabelWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessRevocationsByGroup" : {
      "post" : {
        "description" : "Finds location access revocations by the specified group",
        "operationId" : "findLocationAccessRevocationsByGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessRevocationsByOrg" : {
      "post" : {
        "description" : "Finds all location access revocations in the org",
        "operationId" : "findLocationAccessRevocationsByOrg",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByOrgWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByOrgWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessRevocationsByUser" : {
      "post" : {
        "description" : "Finds location access revocations by the specified user",
        "operationId" : "findLocationAccessRevocationsByUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findRhombusSecureMobileCredentialsForCurrentUser" : {
      "post" : {
        "description" : "Find all rhombus secure mobile credentials for the current user",
        "operationId" : "findRhombusSecureMobileCredentialsForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindRhombusSecureMobileCredentialsForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindRhombusSecureMobileCredentialsForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/forceRefreshAccessControlUnitConfig" : {
      "post" : {
        "description" : "Send a command to the access control unit so it refreshes its complete configuration",
        "operationId" : "forceRefreshAccessControlUnitConfig",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_ForceRefreshAccessControlUnitConfigWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_ForceRefreshAccessControlUnitConfigWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getLocationAccessGrant" : {
      "post" : {
        "description" : "Retrieve a location access grant by id",
        "operationId" : "getLocationAccessGrant",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetLocationAccessGrantWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetLocationAccessGrantWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getLocationAccessRevocation" : {
      "post" : {
        "description" : "Retrieve a location access revocation by id",
        "operationId" : "getLocationAccessRevocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_GetLocationAccessRevocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_GetLocationAccessRevocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getLocationsByAccessGrantForCurrentUser" : {
      "post" : {
        "description" : "Get locations for which the current user is associated with 1 or more access grants",
        "operationId" : "getLocationsByAccessGrantForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetLocationsByAccessGrantForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetLocationsByAccessGrantForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getMinimalAccessControlledDoorsByLocationForCurrentUser" : {
      "post" : {
        "description" : "Get access controlled doors for the specified location for which the current user is associated with 1 or more access grants",
        "operationId" : "getMinimalAccessControlledDoorsByLocationForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_GetMinimalAccessControlledDoorsByLocationForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_GetMinimalAccessControlledDoorsByLocationForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getRhombusKeyLocationLockdownDetailsForCurrentUser" : {
      "post" : {
        "description" : "Get the current state of a location lockdown and messages that should be displayed",
        "operationId" : "getRhombusKeyLocationLockdownDetailsForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetRhombusKeyLocationLockdownDetailsForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetRhombusKeyLocationLockdownDetailsForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getRhombusSecureCsnCredentialDetails" : {
      "post" : {
        "description" : "Retrieves a rhombus secure csn credential including sensitive details",
        "operationId" : "getRhombusSecureCsnCredentialDetails",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_GetRhombusSecureCsnCredentialDetailsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_GetRhombusSecureCsnCredentialDetailsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getStandardCsnCredentialDetails" : {
      "post" : {
        "description" : "Retrieves a standard csn credential including sensitive details",
        "operationId" : "getStandardCsnCredentialDetails",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_GetStandardCsnCredentialDetailsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_GetStandardCsnCredentialDetailsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/activateLockdownForLocation" : {
      "post" : {
        "description" : "Activate lockdown for the specified location",
        "operationId" : "activateLockdownForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_ActivateLockdownForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_ActivateLockdownForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/activateLockdownForLocationViaRhombusKey" : {
      "post" : {
        "description" : "Activate lockdown for the specified location from Rhombus Key",
        "operationId" : "activateLockdownForLocationViaRhombusKey",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_ActivateLockdownForLocationViaRhombusKeyWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_ActivateLockdownForLocationViaRhombusKeyWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/createLocationLockdownPlan" : {
      "post" : {
        "description" : "Create location lockdown plan",
        "operationId" : "createLocationLockdownPlan",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_CreateLocationLockdownPlanWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_CreateLocationLockdownPlanWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/deactivateLockdownForLocation" : {
      "post" : {
        "description" : "Deactivate lockdown for the specified location",
        "operationId" : "deactivateLockdownForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeactivateLockdownForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeactivateLockdownForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/deactivateLockdownForLocationViaRhombusKey" : {
      "post" : {
        "description" : "Deactivate lockdown for the specified location from Rhombus Key",
        "operationId" : "deactivateLockdownForLocationViaRhombusKey",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeactivateLockdownForLocationViaRhombusKeyWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeactivateLockdownForLocationViaRhombusKeyWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/deleteLocationLockdownState" : {
      "post" : {
        "description" : "Disables tracking lockdown state for the specified location",
        "operationId" : "deleteLocationLockdownState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeleteLocationLockdownStateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeleteLocationLockdownStateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/deleteLockdownPlan" : {
      "post" : {
        "description" : "Delete lockdown plan",
        "operationId" : "deleteLockdownPlan",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeleteLockdownPlanWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeleteLockdownPlanWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/disableLockdownTestModeForLocation" : {
      "post" : {
        "description" : "Disable test mode of lockdown for the specified location",
        "operationId" : "disableLockdownTestModeForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DisableLockdownTestModeForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DisableLockdownTestModeForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/enableLockdownTestModeForLocation" : {
      "post" : {
        "description" : "Enable test mode of lockdown for the specified location",
        "operationId" : "enableLockdownTestModeForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_EnableLockdownTestModeForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_EnableLockdownTestModeForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/findLocationLockdownEvents" : {
      "post" : {
        "description" : "Retrieve a list of lockdown events for the specified location",
        "operationId" : "findLocationLockdownEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_FindLocationLockdownEventsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_FindLocationLockdownEventsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/findLocationLockdownStates" : {
      "post" : {
        "description" : "Finds the state of all lockdowns for the org",
        "operationId" : "findLocationLockdownStates",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_FindLocationLockdownStatesWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_FindLocationLockdownStatesWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/findLockdownPlans" : {
      "post" : {
        "description" : "Find lockdown plans in the org",
        "operationId" : "findLockdownPlans",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_FindLockdownPlansWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_FindLockdownPlansWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/findLockdownPlansByLocation" : {
      "post" : {
        "description" : "Find lockdown plans for the specified location",
        "operationId" : "findLockdownPlansByLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_FindLockdownPlansByLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_FindLockdownPlansByLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/getLockdownPlan" : {
      "post" : {
        "description" : "Get lockdown plan",
        "operationId" : "getLockdownPlan",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_GetLockdownPlanWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_GetLockdownPlanWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/getOrCreateLocationLockdownState" : {
      "post" : {
        "description" : "Retrieves an existing lockdown state or creates one for the specified location",
        "operationId" : "getOrCreateLocationLockdownState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_GetOrCreateLocationLockdownStateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_GetOrCreateLocationLockdownStateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/updateLocationLockdownPlan" : {
      "post" : {
        "description" : "Update location lockdown plan",
        "operationId" : "updateLocationLockdownPlan",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_UpdateLocationLockdownPlanWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_UpdateLocationLockdownPlanWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/provisionMobileAccessControlCredentialForCurrentUser" : {
      "post" : {
        "description" : "Creates a mobile access control credential. Store the private key securely, there is no other way to retrieve it other then generating a new cred.",
        "operationId" : "provisionMobileAccessControlCredentialForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_ProvisionMobileAccessControlCredentialForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_BaseProvisionMobileAccessControlCredentialForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/removeUsersFromAccessControlGroup" : {
      "post" : {
        "description" : "Removes specified users from an access control group",
        "operationId" : "removeUsersFromAccessControlGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_group_RemoveUsersFromAccessControlGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_group_RemoveUsersFromAccessControlGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/revokeAccessControlCredential" : {
      "post" : {
        "description" : "Revokes an access control credential. Unlike suspension this will give up its claim on the credential value allowing another cred to claim it as its identifier",
        "operationId" : "revokeAccessControlCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_RevokeAccessControlCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_RevokeAccessControlCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/revokeRhombusSecureMobileCredentialForCurrentUser" : {
      "post" : {
        "description" : "Revoke user's rhombus secure mobile credential",
        "operationId" : "revokeRhombusSecureMobileCredentialForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_RevokeRhombusSecureMobileCredentialForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_RevokeRhombusSecureMobileCredentialForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/sendUserPresenceForCurrentUser" : {
      "post" : {
        "operationId" : "sendUserPresenceForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_SendUserPresenceForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_BaseSendUserPresenceForCurrentUserWsResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/suspendAccessControlCredential" : {
      "post" : {
        "description" : "Mark an access control credential as suspended",
        "operationId" : "suspendAccessControlCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_SuspendAccessControlCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_SuspendAccessControlCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/unlockAccessControlledDoor" : {
      "post" : {
        "description" : "Unlock an access controlled door",
        "operationId" : "unlockAccessControlledDoor",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_UnlockAccessControlledDoorWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_BaseUnlockAccessControlledDoorWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/unlockAccessControlledDoorForCurrentUser" : {
      "post" : {
        "description" : "Unlock an access controlled door using authorization of supplied user token",
        "operationId" : "unlockAccessControlledDoorForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_UnlockAccessControlledDoorForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_BaseUnlockAccessControlledDoorForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/unsuspendAccessControlCredential" : {
      "post" : {
        "description" : "Mark an access control credential as no longer suspended",
        "operationId" : "unsuspendAccessControlCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_UnsuspendAccessControlCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_UnsuspendAccessControlCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/updateAccessGrant" : {
      "post" : {
        "description" : "Updates a location access grant",
        "operationId" : "updateAccessGrant",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_UpdateAccessGrantWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_UpdateAccessGrantWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/updateAccessRevocation" : {
      "post" : {
        "description" : "Updates a location access revocation",
        "operationId" : "updateAccessRevocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_UpdateAccessRevocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_UpdateAccessRevocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/updateRhombusSecureCsnCredential" : {
      "post" : {
        "description" : "Update a rhombus secure csn credential (Rhombus Badge)",
        "operationId" : "updateRhombusSecureCsnCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_UpdateRhombusSecureCsnCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_UpdateRhombusSecureCsnCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/updateRhombusSecureMobileCredential" : {
      "post" : {
        "description" : "Update a rhombus secure mobile credential (RhombusKey App w/ BLE or NFC)",
        "operationId" : "updateRhombusSecureMobileCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_UpdateRhombusSecureMobileCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_UpdateRhombusSecureMobileCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/updateStandardCsnCredential" : {
      "post" : {
        "description" : "Update a standard csn credential (Third Party Badge)",
        "operationId" : "updateStandardCsnCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_UpdateStandardCsnCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_UpdateStandardCsnCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/alertmonitoring/acceptAlertMonitoringTermsOfService" : {
      "post" : {
        "deprecated" : true,
        "operationId" : "acceptAlertMonitoringTermsOfService",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_AcceptAlertMonitoringTermsOfServiceRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_AcceptAlertMonitoringTermsOfServiceResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/acceptAlertMonitoringTermsOfServiceForLocation" : {
      "post" : {
        "operationId" : "acceptAlertMonitoringTermsOfServiceForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_AcceptAlertMonitoringTermsOfServiceForLocationRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_AcceptAlertMonitoringTermsOfServiceResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/cancelThreatCase" : {
      "post" : {
        "operationId" : "cancelThreatCase",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_CancelThreatCaseWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_CancelThreatCaseWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/createAlertMonitoringSettings" : {
      "post" : {
        "operationId" : "createAlertMonitoringSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_CreateNoonlightSettingsForLocationRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_CreateNoonlightSettingsForLocationResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/createPinForLocation" : {
      "post" : {
        "operationId" : "createPinForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_CreatePinForNoonlightWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_CreatePinForNoonlightWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/deleteAlertMonitoringSettings" : {
      "post" : {
        "operationId" : "deleteAlertMonitoringSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_DeleteNoonlightSettingsForLocationRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_DeleteNoonlightSettingsForLocationResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/deletePinForLocation" : {
      "post" : {
        "operationId" : "deletePinForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_DeletePinForNoonlightWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_DeletePinForNoonlightWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/dismissThreatCase" : {
      "post" : {
        "operationId" : "dismissThreatCase",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_DismissThreatCaseWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_DismissThreatCaseWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/escalateThreatCaseToAlarm" : {
      "post" : {
        "operationId" : "escalateThreatCaseToAlarm",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_EscalateThreatCaseToAlarmWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_EscalateThreatCaseToAlarmWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/getAlertMonitoringSettings" : {
      "post" : {
        "operationId" : "getAlertMonitoringSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_GetNoonlightSettingsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_GetNoonlightSettingsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/getAlertMonitoringSettingsForLocation" : {
      "post" : {
        "operationId" : "getAlertMonitoringSettingsForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_GetNoonlightSettingsForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_GetNoonlightSettingsForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/alertmonitoring/updateAlertMonitoringSettings" : {
      "post" : {
        "operationId" : "updateAlertMonitoringSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alertmonitoring_UpdateNoonlightSettingsForLocationRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alertmonitoring_UpdateNoonlightSettingsForLocationResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Alert Monitoring Webservice" ]
      }
    },
    "/api/audiogateway/delete" : {
      "post" : {
        "description" : "Remove an audio gateway from organization",
        "operationId" : "deleteAudioGateway",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Audiogateway_DeleteAudioGatewayWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Audiogateway_DeleteAudioGatewayWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "AudioGateway Webservice" ]
      }
    },
    "/api/audiogateway/getAudioGatewayFeatures" : {
      "post" : {
        "deprecated" : true,
        "description" : "Get enabled features for an audio gateway",
        "operationId" : "getAudioGatewayFeatures",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Audiogateway_GetAudioGatewayFeaturesWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Audiogateway_GetAudioGatewayFeaturesWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "AudioGateway Webservice" ]
      }
    },
    "/api/audiogateway/getAudioGatewayFeaturesList" : {
      "post" : {
        "deprecated" : true,
        "description" : "Get enabled features for all audio gateways in an org",
        "operationId" : "getAudioGatewayFeaturesList",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Audiogateway_GetAudioGatewayFeaturesListWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Audiogateway_GetAudioGatewayFeaturesListWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "AudioGateway Webservice" ]
      }
    },
    "/api/audiogateway/getAudioSeekpoints" : {
      "post" : {
        "description" : "Get audio seek points",
        "operationId" : "getAudioSeekpoints",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Audiogateway_GetAudioSeekpointsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Audiogateway_GetAudioSeekpointsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "AudioGateway Webservice" ]
      }
    },
    "/api/audiogateway/getConfig" : {
      "post" : {
        "description" : "Get an audio gateway config",
        "operationId" : "getAudioGatewayConfig",
[...]
