{
  "openapi" : "3.0.1",
  "info" : {
    "contact" : {
      "email" : "developer@rhombussystems.com"
    },
    "description" : "This API is for use by Rhombus developers.",
    "title" : "Rhombus ITG API",
    "version" : "1.0"
  },
  "servers" : [ {
    "description" : "Development Server",
    "url" : "https://api2.itg.rhombussystems.com"
  } ],
  "security" : [ {
    "ApiKeyAuth" : [ ]
  } ],
  "tags" : [ {
    "description" : "Service for managing access control PINs",
    "name" : "Access Control PIN Webservice"
  }, {
    "description" : "Service for managing access control systems",
    "name" : "Access Control Webservice"
  }, {
    "description" : "Service for managing badge template",
    "name" : "Badge Template Webservice"
  }, {
    "description" : "Service for managing door schedule exceptions",
    "name" : "Door Schedule Exception Webservice"
  }, {
    "description" : "Service for managing location/door first-in settings",
    "name" : "First In Settings Webservice"
  }, {
    "description" : "Service for managing lockdown plans",
    "name" : "Lockdown Plan Webservice"
  }, {
    "description" : "Service for managing alert monitoring PINs",
    "name" : "Alert Monitoring PIN Webservice"
  }, {
    "description" : "Service for monitoring alerts, creating threat cases and alarms",
    "name" : "Alert Monitoring Webservice"
  }, {
    "description" : "Service for managing audio gateways",
    "name" : "AudioGateway Webservice"
  }, {
    "description" : "Service for managing uploaded audio clips and playback",
    "name" : "Audio Playback Webservice"
  }, {
    "description" : "Interacting with badge readers",
    "name" : "Badge Reader Webservice"
  }, {
    "description" : "Interacting with Bluetooth Channel",
    "name" : "BLE Webservice"
  }, {
    "description" : "Service for managing button sensors",
    "name" : "Button Webservice"
  }, {
    "description" : "Interacting with cameras",
    "name" : "Camera Webservice"
  }, {
    "description" : "Service for interacting with Rhombus MIND",
    "name" : "Chatbot Webservice"
  }, {
    "description" : "Service for managing environmental sensors",
    "name" : "Climate Webservice"
  }, {
    "description" : "Service for managing components used by various devices",
    "name" : "Component Webservice"
  }, {
    "description" : "Managing account-wide information",
    "name" : "Customer Webservice"
  }, {
    "description" : "Service for external Developers",
    "name" : "Developer Webservice"
  }, {
    "description" : "Interacting with device configs",
    "name" : "Device Config Webservice"
  }, {
    "description" : "Service for managing door sensors",
    "name" : "Door Webservice"
  }, {
    "description" : "Interacting with doorbell cameras",
    "name" : "Doorbell Camera Webservice"
  }, {
    "description" : "Interacting with door controllers",
    "name" : "Door Controller Webservice"
  }, {
    "description" : "Service for managing Ethernet Testers",
    "name" : "Ethernet Tester Webservice"
  }, {
    "description" : "Service for managing camera-generated events and alerts",
    "name" : "Event Webservice"
  }, {
    "description" : "Service for managing searching normal events and access control events",
    "name" : "Event Search Webservice"
  }, {
    "description" : "Service for exporting CSV reports",
    "name" : "Export Webservice"
  }, {
    "description" : "Service for managing device features",
    "name" : "Feature Webservice"
  }, {
    "description" : "Service for managing guest interactions.",
    "name" : "Guest Management Webservice"
  }, {
    "description" : "Service for customers to get help",
    "name" : "Help Webservice"
  }, {
    "description" : "Service for managing third-party access control related integrations.",
    "name" : "Access Control Integrations Webservice"
  }, {
    "description" : "Service for updating guests by external form",
    "name" : "GuestToken Webservice"
  }, {
    "description" : "Service for managing third-party incident management integrations.",
    "name" : "Incident Management Integrations Webservice"
  }, {
    "description" : "Service for managing third-party integrations.",
    "name" : "Integrations Webservice"
  }, {
    "description" : "Service for managing third-party IoT integrations.",
    "name" : "IoT Integrations Webservice"
  }, {
    "description" : "Service for managing third-party integrations per org.",
    "name" : "Org Integrations Webservice"
  }, {
    "description" : "Service for managing third-party service management related integrations.",
    "name" : "Service Management Integrations Webservice"
  }, {
    "description" : "Service for managing third-party data storage related integrations.",
    "name" : "Storage Integrations Webservice"
  }, {
    "description" : "Service for managing third-party webhook related integrations.",
    "name" : "Webhook Integrations Webservice"
  }, {
    "description" : "Service for managing the Aperio integration",
    "name" : "Aperio Webservice"
  }, {
    "description" : "Service for managing invoices",
    "name" : "Invoice Webservice"
  }, {
    "description" : "Service for managing alarm monitoring keypads",
    "name" : "Alarm Monitoring Keypad Webservice"
  }, {
    "description" : "Service for managing guest management kiosks",
    "name" : "Guest Management Kiosk Webservice"
  }, {
    "description" : "Service for managing licenses.",
    "name" : "License Webservice"
  }, {
    "description" : "Service for managing license catalog items.",
    "name" : "License Catalog Webservice"
  }, {
    "description" : "Service for managing claim keys.",
    "name" : "License ClaimKey Webservice"
  }, {
    "description" : "Service for managing locations",
    "name" : "Location Webservice"
  }, {
    "description" : "Service for lookup shipping information",
    "name" : "Logistics Webservice"
  }, {
    "description" : "Interacting with generic media devices.",
    "name" : "Media Device Webservice"
  }, {
    "description" : "Service for managing account metrics",
    "name" : "Metric Webservice"
  }, {
    "description" : "Mobile session related stuff",
    "name" : "Mobile Webservice"
  }, {
    "description" : "Custom model management for devices",
    "name" : "Modular AI Webservice"
  }, {
    "description" : "manage device network configuration",
    "name" : "Network Webservice"
  }, {
    "description" : "Service for managing oauth application and tokens",
    "name" : "OAuth Webservice"
  }, {
    "description" : "Service for managing occupancy sensors",
    "name" : "Occupancy Webservice"
  }, {
    "description" : "Service for managing organization-wide settings",
    "name" : "Org Webservice"
  }, {
    "description" : "Service for Partners to manage their clients",
    "name" : "Partner Webservice"
  }, {
    "description" : "Service for resetting user passwords",
    "name" : "Password Webservice"
  }, {
    "description" : "Service for manaing user roles and permissions",
    "name" : "Permission Webservice"
  }, {
    "description" : "Service for managing camera notification policies",
    "name" : "Policy Webservice"
  }, {
    "description" : "Service for managing proximity tags",
    "name" : "Proximity Webservice"
  }, {
    "description" : "Service for managing RapidSOS service",
    "name" : "RapidSOS Webservice"
  }, {
    "description" : "Interacting with Relays",
    "name" : "Relay Webservice"
  }, {
    "description" : "Methods for importing third party cameras",
    "name" : "Third Party Camera Import Webservice"
  }, {
    "description" : "Service for viewing aggregated reports",
    "name" : "Report Webservice"
  }, {
    "description" : "Service for managing rules",
    "name" : "Rules Webservice"
  }, {
    "description" : "Service for managing historical rules event records",
    "name" : "Rules Records Webservice"
  }, {
    "description" : "Service for managing scheduled scene queries",
    "name" : "Scene Query Webservice"
  }, {
    "description" : "Service for managing schedules",
    "name" : "Schedule Webservice"
  }, {
    "description" : "Service for searching indexed video content",
    "name" : "Search Webservice"
  }, {
    "description" : "Service for managing sensor metadata",
    "name" : "Sensor Webservice"
  }, {
    "description" : "Service for managing externally shared content",
    "name" : "Share Webservice"
  }, {
    "description" : "Service for Customers to manage their various Support Providers and Partners",
    "name" : "Support Authority Webservice"
  }, {
    "description" : "Service for managing tvOs clients",
    "name" : "TvOs Config Webservice"
  }, {
    "description" : "Service for uploading multi-part data",
    "name" : "Upload Webservice"
  }, {
    "description" : "Service for importing users",
    "name" : "User Import Webservice"
  }, {
    "description" : "Service for managing individual users",
    "name" : "User Webservice"
  }, {
    "description" : "Service for managing custom org level user metadata fields",
    "name" : "User Metadata Webservice"
  }, {
    "description" : "Service for managing vehicle recognition.",
    "name" : "Vehicle Webservice"
  }, {
    "description" : "Service for post-processing video",
    "name" : "Video Webservice"
  } ],
  "paths" : {
    "/api/accesscontrol/addUsersToAccessControlGroup" : {
      "post" : {
        "description" : "Adds specified users to an access control group",
        "operationId" : "addUsersToAccessControlGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group_AddUsersToOrgGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group_AddUsersToOrgGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/assignAccessControlCredential" : {
      "post" : {
        "description" : "Assign a currently unassigned credential to a user",
        "operationId" : "assignAccessControlCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_AssignAccessControlCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_AssignAccessControlCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/badgeTemplate/createBadgeTemplate" : {
      "post" : {
        "description" : "Create a badge template",
        "operationId" : "createBadgeTemplate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_CreateBadgeTemplateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_CreateBadgeTemplateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Badge Template Webservice" ]
      }
    },
    "/api/accesscontrol/badgeTemplate/deleteBadgeTemplate" : {
      "post" : {
        "description" : "Delete a badge template",
        "operationId" : "deleteBadgeTemplate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_DeleteBadgeTemplateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_DeleteBadgeTemplateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Badge Template Webservice" ]
      }
    },
    "/api/accesscontrol/badgeTemplate/deleteBadgeTemplateImage" : {
      "post" : {
        "description" : "Deletes the stored image and metadata document. Prevented if any badge template refers to the image.",
        "operationId" : "deleteBadgeTemplateImage",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_DeleteBadgeTemplateImageWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_DeleteBadgeTemplateImageWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Badge Template Webservice" ]
      }
    },
    "/api/accesscontrol/badgeTemplate/findBadgeTemplateImages" : {
      "post" : {
        "description" : "Finds metadata for all images uploaded for use with badge template configuration",
        "operationId" : "findBadgeTemplateImages",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_FindBadgeTemplateImagesWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_FindBadgeTemplateImagesWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Badge Template Webservice" ]
      }
    },
    "/api/accesscontrol/badgeTemplate/findBadgeTemplates" : {
      "post" : {
        "description" : "Find badge templates in the org",
        "operationId" : "findBadgeTemplates",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_FindBadgeTemplatesWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_FindBadgeTemplatesWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Badge Template Webservice" ]
      }
    },
    "/api/accesscontrol/badgeTemplate/getBadgeTemplate" : {
      "post" : {
        "description" : "Retrieve a badge template",
        "operationId" : "getBadgeTemplate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_GetBadgeTemplateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_GetBadgeTemplateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Badge Template Webservice" ]
      }
    },
    "/api/accesscontrol/badgeTemplate/getBadgeTemplateImage" : {
      "post" : {
        "description" : "Get the metadata for a specific badge template image",
        "operationId" : "getBadgeTemplateImage",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_GetBadgeTemplateImageWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_GetBadgeTemplateImageWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Badge Template Webservice" ]
      }
    },
    "/api/accesscontrol/badgeTemplate/updateBadgeTemplate" : {
      "post" : {
        "description" : "Update a badge template",
        "operationId" : "updateBadgeTemplate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_UpdateBadgeTemplateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_UpdateBadgeTemplateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Badge Template Webservice" ]
      }
    },
    "/api/accesscontrol/badgeTemplate/updateBadgeTemplateImage" : {
      "post" : {
        "description" : "Update the metadata for a badge template image",
        "operationId" : "updateBadgeTemplateImage",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_UpdateBadgeTemplateImageWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_badgetemplate_UpdateBadgeTemplateImageWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Badge Template Webservice" ]
      }
    },
    "/api/accesscontrol/createAccessControlCredentialByHexValueAndType" : {
      "post" : {
        "description" : "Create a credential based on a hex value and credential type. Useful if you see an unauthorized badge event, know its type and want to import it",
        "operationId" : "createAccessControlCredentialByHexValueAndType",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateAccessControlCredentialByHexValueAndTypeWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateAccessControlCredentialByHexValueAndTypeWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createAccessControlGroup" : {
      "post" : {
        "description" : "Creates an access control group",
        "operationId" : "createAccessControlGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group_CreateOrgGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group_CreateOrgGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createAccessGrant" : {
      "post" : {
        "description" : "Create a location access grant",
        "operationId" : "createAccessGrant",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_CreateAccessGrantWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_CreateAccessGrantWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createAccessRevocation" : {
      "post" : {
        "description" : "Create a location access revocation",
        "operationId" : "createAccessRevocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_CreateAccessRevocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_CreateAccessRevocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createAppleWalletPass" : {
      "post" : {
        "description" : "Get credentials to generate Apple Wallet pass for user",
        "operationId" : "createAppleWalletPass",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateAppleWalletPassWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/vnd.apple.pkpass" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateAppleWalletPassWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createRhombusSecureCsnCredential" : {
      "post" : {
        "description" : "Create a rhombus secure csn credential (Rhombus Badge)",
        "operationId" : "createRhombusSecureCsnCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateRhombusSecureCsnCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateRhombusSecureCsnCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createStandardCsnCredential" : {
      "post" : {
        "description" : "Create a standard csn credential (Third Party Badge)",
        "operationId" : "createStandardCsnCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateStandardCsnCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateStandardCsnCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createWiegand64BitRawCredential" : {
      "post" : {
        "description" : "Create a 64bit raw wiegand credential. Used when an explicit endpoint for the wiegand format is not otherwise defined.",
        "operationId" : "createWiegand64BitRawCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegand64BitRawCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegand64BitRawCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createWiegandCredential" : {
      "post" : {
        "deprecated" : true,
        "description" : "Create a wiegand credential",
        "operationId" : "createWiegandCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegandCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegandCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createWiegandD10202Credential" : {
      "post" : {
        "description" : "Create a D10202 wiegand credential",
        "operationId" : "createWiegandD10202Credential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegandD10202CredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegandD10202CredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createWiegandH10301Credential" : {
      "post" : {
        "description" : "Create a H10301 wiegand credential",
        "operationId" : "createWiegandH10301Credential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegandH10301CredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegandH10301CredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/createWiegandH10304Credential" : {
      "post" : {
        "description" : "Create a H10304 wiegand credential",
        "operationId" : "createWiegandH10304Credential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegandH10304CredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_CreateWiegandH10304CredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/deleteAccessControlCredential" : {
      "post" : {
        "description" : "Delete an access control credential. It is recommended to revoke a credential rather than delete it to preserve credential history",
        "operationId" : "deleteAccessControlCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_DeleteAccessControlCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_DeleteAccessControlCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/deleteAccessControlGroup" : {
      "post" : {
        "description" : "Delete an access control group",
        "operationId" : "deleteAccessControlGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group_DeleteOrgGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group_DeleteOrgGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/deleteLocationAccessGrant" : {
      "post" : {
        "description" : "Deletes a location access grant",
        "operationId" : "deleteLocationAccessGrant",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_DeleteLocationAccessGrantWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_DeleteLocationAccessGrantWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/deleteLocationAccessRevocation" : {
      "post" : {
        "description" : "Deletes a location access revocation",
        "operationId" : "deleteLocationAccessRevocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_DeleteLocationAccessRevocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_DeleteLocationAccessRevocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/deleteUnassignedAccessControlCredential" : {
      "post" : {
        "description" : "Delete an unassigned access control credential. The credential must be unassigned (revoked) before this method can be called. History of the credential is maintained but it will no longer be returned as an unassigned credential.",
        "operationId" : "deleteUnassignedAccessControlCredential",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_DeleteUnassignedAccessControlCredentialWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_DeleteUnassignedAccessControlCredentialWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/createExceptionV2" : {
      "post" : {
        "description" : "Create a door schedule exception",
        "operationId" : "createExceptionV2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_CreateDoorScheduleExceptionWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_CreateDoorScheduleExceptionWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/deleteExceptionV2" : {
      "post" : {
        "description" : "Delete door schedule exception",
        "operationId" : "deleteExceptionV2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_DeleteDoorScheduleExceptionWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_DeleteDoorScheduleExceptionWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/findExceptionsForDoor" : {
      "post" : {
        "description" : "Find door schedule exceptions for a specific door",
        "operationId" : "findExceptionsForDoor",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsForDoorWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsForDoorWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/findExceptionsForLocationV2" : {
      "post" : {
        "description" : "Find door schedule exceptions for a specific location",
        "operationId" : "findExceptionsForLocationV2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/findExceptionsV2" : {
      "post" : {
        "description" : "Find door schedule exceptions",
        "operationId" : "findExceptionsV2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_FindDoorScheduleExceptionsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/getExceptionV2" : {
      "post" : {
        "description" : "Get a door schedule exception",
        "operationId" : "getExceptionV2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_GetDoorScheduleExceptionWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_GetDoorScheduleExceptionWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/doorScheduleException/updateExceptionV2" : {
      "post" : {
        "description" : "Update door schedule exception",
        "operationId" : "updateExceptionV2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_doorexception_UpdateDoorScheduleExceptionWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_doorexception_UpdateDoorScheduleExceptionWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Door Schedule Exception Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlCredentialByOrg" : {
      "post" : {
        "description" : "Find all access control credentials in the org",
        "operationId" : "findAccessControlCredentialByOrg",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByOrgWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByOrgWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlCredentialByUser" : {
      "post" : {
        "description" : "Find all access control credentials for the specified user",
        "operationId" : "findAccessControlCredentialByUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlCredentialByUsers" : {
      "post" : {
        "description" : "Find all access control credentials for the specified users",
        "operationId" : "findAccessControlCredentialByUsers",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUsersWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindAccessControlCredentialByUsersWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupByExactName" : {
      "post" : {
        "description" : "Retrieve the access control group with the specified name",
        "operationId" : "findAccessControlGroupByExactName",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group_FindOrgGroupsByExactNameWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group_FindOrgGroupsByExactNameWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupMembershipsByUser" : {
      "post" : {
        "description" : "Find all access control group memberships by user",
        "operationId" : "findAccessControlGroupMembershipsByUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group_FindOrgGroupMembershipsByUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group_FindOrgGroupMembershipsByUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupMembershipsForCurrentUser" : {
      "post" : {
        "description" : "Find all access control group memberships for the current Rhombus Key user",
        "operationId" : "findAccessControlGroupMembershipsForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group_FindOrgGroupMembershipsForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group_FindOrgGroupMembershipsForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupsByNamePrefix" : {
      "post" : {
        "description" : "Retrieve all access control groups with a name starting with the specified prefix",
        "operationId" : "findAccessControlGroupsByNamePrefix",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group_FindOrgGroupsByNamePrefixWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group_FindOrgGroupsByNamePrefixWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupsByOrg" : {
      "post" : {
        "description" : "Retrieve all access control groups defined in the org",
        "operationId" : "findAccessControlGroupsByOrg",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group_FindOrgGroupsByOrgWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group_FindOrgGroupsByOrgWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAccessControlGroupsByUserMembership" : {
      "post" : {
        "description" : "Find all access control groups a user belongs to",
        "operationId" : "findAccessControlGroupsByUserMembership",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group_FindOrgGroupsByUserMembershipWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group_FindOrgGroupsByUserMembershipWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findAllUsersForAccessControlGroup" : {
      "post" : {
        "description" : "Find all users belonging to an access control group",
        "operationId" : "findAllUsersForAccessControlGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Group_FindAllUsersForOrgGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Group_FindAllUsersForOrgGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findCredentialHistory" : {
      "post" : {
        "description" : "Retrieves all credential history belonging to an org",
        "operationId" : "findCredentialHistory",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findCredentialHistoryByCredentialHexValue" : {
      "post" : {
        "description" : "Retrieves all credentials that have owned the credential hex value. Expect at most 1 valid/active credential and the rest are revoked",
        "operationId" : "findCredentialHistoryByCredentialHexValue",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialHexValueWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialHexValueWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findCredentialHistoryByCredentialValue" : {
      "post" : {
        "description" : "Retrieves all credentials that have owned the credential value.",
        "operationId" : "findCredentialHistoryByCredentialValue",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialValueWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByCredentialValueWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findCredentialHistoryByUser" : {
      "post" : {
        "description" : "Retrieves all credentials both current and revoked that were at some point assigned to the specified user",
        "operationId" : "findCredentialHistoryByUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindCredentialHistoryByUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByAccessControlledDoor" : {
      "post" : {
        "description" : "Finds location access grants by the specified access controlled door",
        "operationId" : "findLocationAccessGrantsByAccessControlledDoor",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByAccessControlledDoorWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByAccessControlledDoorWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByDoorLabel" : {
      "post" : {
        "description" : "Finds location access grants by the specified door label",
        "operationId" : "findLocationAccessGrantsByDoorLabel",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByDoorLabelWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByDoorLabelWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByGroup" : {
      "post" : {
        "description" : "Finds location access grants by the specified group",
        "operationId" : "findLocationAccessGrantsByGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByLocation" : {
      "post" : {
        "description" : "Finds location access grants by the specified location",
        "operationId" : "findLocationAccessGrantsByLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByLocationAndUser" : {
      "post" : {
        "description" : "Finds location access grants by the specified location and user",
        "operationId" : "findLocationAccessGrantsByLocationAndUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationAndUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByLocationAndUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByOrg" : {
      "post" : {
        "description" : "Finds all location access grants in the org",
        "operationId" : "findLocationAccessGrantsByOrg",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByOrgWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByOrgWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessGrantsByUser" : {
      "post" : {
        "description" : "Finds location access grants by the specified user",
        "operationId" : "findLocationAccessGrantsByUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_FindLocationAccessGrantsByUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessRevocationsByAccessControlledDoor" : {
      "post" : {
        "description" : "Finds location access revocations by the specified access controlled door",
        "operationId" : "findLocationAccessRevocationsByAccessControlledDoor",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByAccessControlledDoorWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByAccessControlledDoorWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessRevocationsByDoorLabel" : {
      "post" : {
        "description" : "Finds location access revocation by the specified door label",
        "operationId" : "findLocationAccessRevocationsByDoorLabel",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByDoorLabelWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByDoorLabelWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessRevocationsByGroup" : {
      "post" : {
        "description" : "Finds location access revocations by the specified group",
        "operationId" : "findLocationAccessRevocationsByGroup",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByGroupWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByGroupWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessRevocationsByOrg" : {
      "post" : {
        "description" : "Finds all location access revocations in the org",
        "operationId" : "findLocationAccessRevocationsByOrg",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByOrgWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByOrgWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findLocationAccessRevocationsByUser" : {
      "post" : {
        "description" : "Finds location access revocations by the specified user",
        "operationId" : "findLocationAccessRevocationsByUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_FindLocationAccessRevocationsByUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findRhombusSecureMobileCredentialsForCurrentUser" : {
      "post" : {
        "description" : "Find all rhombus secure mobile credentials for the current user",
        "operationId" : "findRhombusSecureMobileCredentialsForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_FindRhombusSecureMobileCredentialsForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_FindRhombusSecureMobileCredentialsForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/findUnlockableAccessControlledDoorsByDevice" : {
      "post" : {
        "description" : "Retrieve basic details of unlockable access controlled doors for a device",
        "operationId" : "findUnlockableAccessControlledDoorsByDevice",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_FindUnlockableAccessControlledDoorsByDeviceWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_FindUnlockableAccessControlledDoorsByDeviceWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/applyDoorAuthFirstInGroupState" : {
      "post" : {
        "description" : "Attempts to apply the specified first-in state to all doors belonging to the specified first-in settings",
        "operationId" : "applyDoorAuthFirstInGroupState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_ApplyDoorAuthFirstInGroupStateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_ApplyDoorAuthFirstInGroupStateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/applyDoorAuthFirstInState" : {
      "post" : {
        "description" : "Attempts to apply the specified first-in state to the specified door",
        "operationId" : "applyDoorAuthFirstInState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_ApplyDoorAuthFirstInStateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_ApplyDoorAuthFirstInStateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/applyDoorScheduleFirstInGroupState" : {
      "post" : {
        "description" : "Attempts to apply the specified first-in state to all doors belonging to the specified first-in settings",
        "operationId" : "applyDoorScheduleFirstInGroupState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_ApplyDoorScheduleFirstInGroupStateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_ApplyDoorScheduleFirstInGroupStateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/applyDoorScheduleFirstInState" : {
      "post" : {
        "description" : "Attempts to apply the specified first-in state to the specified door",
        "operationId" : "applyDoorScheduleFirstInState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_ApplyDoorScheduleFirstInStateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_ApplyDoorScheduleFirstInStateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/createLocationFirstInSettings" : {
      "post" : {
        "description" : "Create settings for first-in that can be shared across the specified doors within a location",
        "operationId" : "createLocationFirstInSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_CreateLocationFirstInSettingsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_CreateLocationFirstInSettingsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/deleteLocationFirstInSettings" : {
      "post" : {
        "description" : "Delete the specified first-in settings. Effectively removes first-in configuration from all doors that belong to the settings",
        "operationId" : "deleteLocationFirstInSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_DeleteLocationFirstInSettingsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_DeleteLocationFirstInSettingsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/findLocationFirstInSettingsByLocation" : {
      "post" : {
        "description" : "Paginated retrieval of all first-in settings in a location",
        "operationId" : "findLocationFirstInSettingsByLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_FindLocationFirstInSettingsByLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_FindLocationFirstInSettingsByLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/findLocationFirstInSettingsByOrg" : {
      "post" : {
        "description" : "Paginated retrieval of all first-in settings in an org",
        "operationId" : "findLocationFirstInSettingsByOrg",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_FindLocationFirstInSettingsByOrgWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_FindLocationFirstInSettingsByOrgWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/getLocationFirstInSettings" : {
      "post" : {
        "description" : "Retrieve the specified first-in settings by its unique RUUID",
        "operationId" : "getLocationFirstInSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_GetLocationFirstInSettingsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_GetLocationFirstInSettingsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/getLocationFirstInSettingsForDoor" : {
      "post" : {
        "description" : "Retrieve the first-in settings that a door belongs to, if any",
        "operationId" : "getLocationFirstInSettingsForDoor",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_GetLocationFirstInSettingsForDoorWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_GetLocationFirstInSettingsForDoorWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/removeDoorLocationFirstInSettings" : {
      "post" : {
        "description" : "Removes the specified door from the first-in settings if currently assigned to one. Also possible via the updateLocationFirstInSettings method but this method will leave other doorsbelonging assigned settings as-is rather than require the entire list.",
        "operationId" : "removeDoorLocationFirstInSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_RemoveDoorLocationFirstInSettingsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_RemoveDoorLocationFirstInSettingsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/firstIn/updateLocationFirstInSettings" : {
      "post" : {
        "description" : "Update settings for first-in that can be shared across the specified doors within a location",
        "operationId" : "updateLocationFirstInSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_firstin_UpdateLocationFirstInSettingsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_firstin_UpdateLocationFirstInSettingsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "First In Settings Webservice" ]
      }
    },
    "/api/accesscontrol/forceRefreshAccessControlUnitConfig" : {
      "post" : {
        "description" : "Send a command to the access control unit so it refreshes its complete configuration",
        "operationId" : "forceRefreshAccessControlUnitConfig",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_ForceRefreshAccessControlUnitConfigWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_ForceRefreshAccessControlUnitConfigWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getLocationAccessGrant" : {
      "post" : {
        "description" : "Retrieve a location access grant by id",
        "operationId" : "getLocationAccessGrant",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetLocationAccessGrantWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetLocationAccessGrantWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getLocationAccessRevocation" : {
      "post" : {
        "description" : "Retrieve a location access revocation by id",
        "operationId" : "getLocationAccessRevocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_GetLocationAccessRevocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessrevocation_GetLocationAccessRevocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getLocationsByAccessGrantForCurrentUser" : {
      "post" : {
        "description" : "Get locations for which the current user is associated with 1 or more access grants",
        "operationId" : "getLocationsByAccessGrantForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetLocationsByAccessGrantForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetLocationsByAccessGrantForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getMinimalAccessControlledDoorsByLocationForCurrentUser" : {
      "post" : {
        "description" : "Get access controlled doors for the specified location for which the current user is associated with 1 or more access grants",
        "operationId" : "getMinimalAccessControlledDoorsByLocationForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_GetMinimalAccessControlledDoorsByLocationForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_GetMinimalAccessControlledDoorsByLocationForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getRhombusKeyLocationLockdownDetailsForCurrentUser" : {
      "post" : {
        "description" : "Get the current state of a location lockdown and messages that should be displayed",
        "operationId" : "getRhombusKeyLocationLockdownDetailsForCurrentUser",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetRhombusKeyLocationLockdownDetailsForCurrentUserWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_accessgrant_GetRhombusKeyLocationLockdownDetailsForCurrentUserWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getRhombusSecureCsnCredentialDetails" : {
      "post" : {
        "description" : "Retrieves a rhombus secure csn credential including sensitive details",
        "operationId" : "getRhombusSecureCsnCredentialDetails",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_GetRhombusSecureCsnCredentialDetailsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_GetRhombusSecureCsnCredentialDetailsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getRhombusSecureMobileAppStateStatsForOrg" : {
      "post" : {
        "description" : "Retrieves stats of Rhombus Key app usage for active credentials that describe whether settings are optimal for the best user experience",
        "operationId" : "getRhombusSecureMobileAppStateStatsForOrg",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_GetRhombusSecureMobileAppStateStatsForOrgWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_GetRhombusSecureMobileAppStateStatsForOrgWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/getStandardCsnCredentialDetails" : {
      "post" : {
        "description" : "Retrieves a standard csn credential including sensitive details",
        "operationId" : "getStandardCsnCredentialDetails",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_credentials_GetStandardCsnCredentialDetailsWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_credentials_GetStandardCsnCredentialDetailsWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Access Control Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/activateLockdownForLocation" : {
      "post" : {
        "description" : "Activate lockdown for the specified location",
        "operationId" : "activateLockdownForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_ActivateLockdownForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_ActivateLockdownForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/activateLockdownForLocationViaRhombusKey" : {
      "post" : {
        "description" : "Activate lockdown for the specified location from Rhombus Key",
        "operationId" : "activateLockdownForLocationViaRhombusKey",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_ActivateLockdownForLocationViaRhombusKeyWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_ActivateLockdownForLocationViaRhombusKeyWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/createLocationLockdownPlan" : {
      "post" : {
        "description" : "Create location lockdown plan",
        "operationId" : "createLocationLockdownPlan",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_CreateLocationLockdownPlanWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_CreateLocationLockdownPlanWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/createLockdownRuleForLocation" : {
      "post" : {
        "description" : "Create (or update if ruleUuid is provided) a lockdown rule for the specified location",
        "operationId" : "createLockdownRuleForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_CreateLockdownRuleForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_CreateLockdownRuleForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/deactivateLockdownForLocation" : {
      "post" : {
        "description" : "Deactivate lockdown for the specified location",
        "operationId" : "deactivateLockdownForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeactivateLockdownForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeactivateLockdownForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/deactivateLockdownForLocationViaRhombusKey" : {
      "post" : {
        "description" : "Deactivate lockdown for the specified location from Rhombus Key",
        "operationId" : "deactivateLockdownForLocationViaRhombusKey",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeactivateLockdownForLocationViaRhombusKeyWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeactivateLockdownForLocationViaRhombusKeyWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/deleteLocationLockdownState" : {
      "post" : {
        "description" : "Disables tracking lockdown state for the specified location",
        "operationId" : "deleteLocationLockdownState",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeleteLocationLockdownStateWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeleteLocationLockdownStateWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/deleteLockdownPlan" : {
      "post" : {
        "description" : "Delete lockdown plan",
        "operationId" : "deleteLockdownPlan",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeleteLockdownPlanWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeleteLockdownPlanWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/deleteLockdownRuleForLocation" : {
      "post" : {
        "description" : "Delete a lockdown rule for the specified location",
        "operationId" : "deleteLockdownRuleForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeleteLockdownRuleForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DeleteLockdownRuleForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/disableLockdownTestModeForLocation" : {
      "post" : {
        "description" : "Disable test mode of lockdown for the specified location",
        "operationId" : "disableLockdownTestModeForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DisableLockdownTestModeForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_DisableLockdownTestModeForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/enableLockdownTestModeForLocation" : {
      "post" : {
        "description" : "Enable test mode of lockdown for the specified location",
        "operationId" : "enableLockdownTestModeForLocation",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_EnableLockdownTestModeForLocationWSRequest"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_EnableLockdownTestModeForLocationWSResponse"
                }
              }
            },
            "description" : "default response"
          }
        },
        "tags" : [ "Lockdown Plan Webservice" ]
      }
    },
    "/api/accesscontrol/lockdownPlan/findLocationLockdownEvents" : {
      "post" : {
        "description" : "Retrieve a list of lockdown events for the specified location",
        "operationId" : "findLocationLockdownEvents",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Accesscontrol_lockdownplan_FindLocationLockdownEventsWSRequest"
              }
            }
          }
[...]
